{% extends 'courseinfo/base.html' %}

{% block title %}
    Create Semester
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <form
        action="{% url 'courseinfo_semester_create_urlpattern'%}"
        method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button
                class="button-primary"
                type="submit">
                Create Semester</button>
    </form>
    </div>
  </div>
{% endblock %}
